<!DOCTYPE html>
<html>
<body>

<h1> Help <h1>

<h2>New transaction:</h2> 
<p>Σε αυτή τη λειτουργία ο χρήστης δημιουργεί ένα νέο Transaction καταχωρώντας τη διεύθυνση του παραλήπτη (recipient_address wallet) το ποσό (amount) από NBC coins που επιθυμεί να στείλει και
τη διεύθυνση του wallet του (wallet sender_address).</p>

<h2>View last transactions:</h2>
<p>Με την επιλογή view o χρήστης μπορεί να δει τυπωμένα στην οθόνη του τα transactions που περιέχονται στο τελευταίο επικυρωμένο block του
noobcash blockchain.<p>

<h2>Show balance:</h2>
<p>Με την επιλογή balance ο χρήστης μπορεί να ενημερωθεί για το υπόλοιπο του wallet του. <p>

</body>
</html>
